<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="short icon" href="../static/_lib/img/favicon.ico">
    <link rel="stylesheet" href="../static/_lib/bootstrap/css/font.css">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <div class="header">
        <div class="navbar fr" id="navbar">
            <ul>
                <li v-for="nav in navs" :class="{ 'active': active == nav.name }"><a href="{{ nav.url }}" data-hover="{{ nav.name }}" title="{{ nav.title }}">{{ nav.name}}</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="w1190">
            <div class="desc fl">
                <div class="img">
                    <img src="../static/img/user.JPG" alt="">
                </div>
                <ul class="person-info">
                    <li><i class="glyphicon glyphicon-user"></i>24岁</li>
                    <li><i class="glyphicon glyphicon-map-marker"></i>浙江省绍兴市</li>
                    <li><i class="glyphicon glyphicon-phone"></i>15968878254</li>
                    <li><i class="glyphicon glyphicon-envelope"></i>755314203@qq.com</li>
                </ul>
                <ul class="skill">
                    <li>JAVA</li>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>CSS</li>
                    <li>Php</li>
                </ul>
                <p>兴趣爱好</p>
                <ul class="hobby">
                    <li><i class="glyphicon glyphicon-music"></i>篮球</li>
                    <li><i class="glyphicon glyphicon-music"></i>足球</li>
                    <li><i class="glyphicon glyphicon-music"></i>排球</li>
                    <li><i class="glyphicon glyphicon-music"></i>羽毛球</li>
                </ul>
            </div>
            <div class="content fr">
                <h1 class="name">王梦菲</h1>
                <p class="target">求职目标：前端开发工程师</p>
                <div class="list">
                    <h2><i class="glyphicon glyphicon-education"></i>教育背景</h2>
                    <div class="info">
                        <span>2013.6-2013.7</span>
                        <span>湖州师范学院</span>
                        <span>计算机科学与技术</span>
                    </div>
                    <p>主修课程</p>
                    <p>大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，
                        是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                        大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐
                        龙分集的开始放假；收到九分裤</p>
                </div>
                <div class="list">
                    <h2><i class="glyphicon glyphicon-briefcase"></i>工作经历</h2>
                    <div class="info">
                        <span>2013.6-2013.7</span>
                        <span>湖州师范学院</span>
                        <span>计算机科学与技术</span>
                    </div>
                    <p>主修课程</p>
                    <p>大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，
                        是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                        大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐
                        龙分集的开始放假；收到九分裤</p>
                </div>
                <div class="list">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>项目经验</h2>
                    <div class="info">
                        <span>2013.6-2013.7</span>
                        <span>湖州师范学院</span>
                        <span>计算机科学与技术</span>
                    </div>
                    <p>主修课程</p>
                    <p>大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，
                        是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                        大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐
                        龙分集的开始放假；收到九分裤</p>
                </div>
                <div class="list">
                    <h2><i class="glyphicon glyphicon-pencil"></i>自我评价</h2>
                    <div class="info">
                        <span>2013.6-2013.7</span>
                        <span>湖州师范学院</span>
                        <span>计算机科学与技术</span>
                    </div>
                    <p>主修课程</p>
                    <p>大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，
                        是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                        大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐
                        龙分集的开始放假；收到九分裤</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/_lib/js/jquery-3.1.0.min.js"></script>
    <script src="../static/_lib/js/vue/vue.js"></script>
    <script src="../static/js/about.js"></script>
</body>
</html>