<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/button.css">
</head>
<body>
    <div id="button">
        <div class="svg-wrapper">
            <svg height="40" width="150">
                <rect id="shape" height="40" width="150" />
                <div class="text">
                    <a href="about.html"><span class="spot"></span>Button 1</a>
                </div>
            </svg>
        </div>
    </div>

    <div id="a-button">
        <a class="btn-0" href="#">Swipe</a>
        <a class="btn-1" href="#">Diagonal Swipe</a>
        <a class="btn-1-2" href="#">Double Swipe</a>
        <a class="btn-2" href="#">Diagonal Close</a>
        <a class="btn-3" href="#"><span>Zoning In</span></a>
        <a class="btn-4" href="#"><span>4 Corners</span></a>
        <a class="btn-5" href="#">Slice</a>
        <a class="btn-6" href="#">Position Aware<span></span></a>
        <a class="btn-7" href="#"><span>Alternate</span></a>
        <a class="btn-8" href="#">Smoosh</a>
        <a class="btn-9" href="#"><span>Vertical Overlap</span></a>
        <a class="btn-10" href="#"><span>Horizontal Overlap</span></a>
        <a class="btn-11" href="#">Collision</a>
    </div>

    <div id="container">
        <div class="container">
            <button class="btn-1">Button 1</button>
            <button class="btn-2">Button 2</button>
            <button class="btn-3">Button 3</button><br>
            <button class="btn-4">Button 4</button>
            <button class="btn-5">Button 5</button>
            <button class="btn-6">Button 6</button><br>
            <button class="btn-7">Button 7</button>
            <button class="btn-8">Button 8</button>
            <button class="btn-9">Button 9</button>
        </div>
    </div>

</body>
</html>