<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit"><!--可以让部分国产浏览器默认采用高速模式渲染页面,目前只有360浏览器支持此 <meta> 标签-->
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../static/css/originality.list.css">
</head>
<body>
    <header></header>
    <div id="content">
        <div class="w1190">
            <div class="list">
                <ul>
                    <li v-for="list in lists"  v-if="$index % 3 == 0">
                        <h2><i class="glyphicon glyphicon-pencil"></i>
                            <a v-bind:href="list.url" :title="list.h1">{{ list.h1 }}</a>
                        </h2>
                        <div class="cate">
                             <span class="date">
                                <i class="glyphicon glyphicon-time"></i>{{ list.year }}-{{ list.month }}
                             </span>
                            <span class="tag">
                                <i class="glyphicon glyphicon-tags"></i>标签
                            </span>
                        </div>
                        <div class="info">
                            <div class="cover-img">
                                <img v-bind:src="list.imgUrl" alt="">
                            </div>
                            <div class="desc">
                                <p>{{ list.desc }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li v-for="list in lists" v-if="$index % 3 == 1">
                        <h2><i class="glyphicon glyphicon-pencil"></i>
                            <a v-bind:href="list.url" :title="list.h1">{{ list.h1 }}</a>
                        </h2>
                        <div class="cate">
                             <span class="date">
                                <i class="glyphicon glyphicon-time"></i>{{ list.year }}-{{ list.month }}
                             </span>
                            <span class="tag">
                                <i class="glyphicon glyphicon-tags"></i>标签
                            </span>
                        </div>
                        <div class="info">
                            <div class="cover-img">
                                <img v-bind:src="list.imgUrl" alt="">
                            </div>
                            <div class="desc">
                                <p>{{ list.desc }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li v-for="list in lists" v-if="$index % 3 == 2">
                        <h2><i class="glyphicon glyphicon-pencil"></i>
                            <a v-bind:href="list.url" :title="list.h1">{{ list.h1 }}</a>
                        </h2>
                        <div class="cate">
                             <span class="date">
                                <i class="glyphicon glyphicon-time"></i>{{ list.year }}-{{ list.month }}
                             </span>
                            <span class="tag">
                                <i class="glyphicon glyphicon-tags"></i>标签
                            </span>
                        </div>
                        <div class="info">
                            <div class="cover-img">
                                <img v-bind:src="list.imgUrl" alt="">
                            </div>
                            <div class="desc">
                                <p>{{ list.desc }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../static/_lib/js/jquery-3.1.0.min.js"></script>
    <script src="../static/_lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/_lib/js/vue/vue.js"></script>
    <script src="../static/js/originality.list.js"></script>
</body>
</html>