extends layout
block title
    title 主页
block append css
    link(rel="stylesheet" href="../static/css/about.css")
block append body
    #content
        .w1190
            .desc.fl
                .img
                    picture
                        source(media="(max-width:800px)" srcset="../static/img/bg.1.jpg")
                        img(src="../static/img/user.JPG" alt="")
                ul.person-info
                    li
                        i.glyphicon.glyphicon-user 24岁
                    li
                        i.glyphicon.glyphicon-map-marker 浙江省绍兴市
                    li
                        i.glyphicon.glyphicon-phone 15968878254
                    li
                        i.glyphicon.glyphicon-envelope 755314203@qq.com
                ul.skill
                    li JAVA
                    li Python
                    li JavaScript
                    li CSS
                    li PHP
                p.hobby-title 兴趣爱好
                ul.hobby
                    li
                        i.glyphicon.glyphicon-music
                        p 篮球
                    li
                        i.glyphicon.glyphicon-music
                        p 足球
                    li
                        i.glyphicon.glyphicon-music
                        p 排球
                    li
                        i.glyphicon.glyphicon-music
                        p 羽毛球
            .content.fr
                h1.name 王梦菲
                p.target 求职目标：前端开发工程师
                .list
                    h2
                        i.glyphicon.glyphicon-education
                        label 教育背景
                    .info
                        span 2013.6-2013.7
                        span 湖州师范学院
                        span 计算机科学与技术
                    p 主修课程
                    p 大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                .list
                    h2
                        i.glyphicon.glyphicon-briefcase
                        label 工作经历
                    .info
                        span 2013.6-2013.7
                        span 湖州师范学院
                        span 计算机科学与技术
                    p 主修课程
                    p 大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                .list
                    h2
                        i.glyphicon.glyphicon-list-alt
                        label 项目经验
                    .info
                        span 2013.6-2013.7
                        span 湖州师范学院
                        span 计算机科学与技术
                    p 主修课程
                    p 大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                .list
                    h2
                        i.glyphicon.glyphicon-pencil
                        label 自我评价
                    .info
                        span 2013.6-2013.7
                        span 湖州师范学院
                        span 计算机科学与技术
                    p 主修课程
                    p 大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都，是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤

block append js
    script(src="../static/js/index.js")


