extends layout
block title
    title 关于我
block append css
    link(rel="stylesheet" href="../static/css/about.css")
block main
    #content
        .container-fluid
            .row.w1190
                .col-md-3
                    .desc
                        .img
                            picture
                                source(media="(max-width:800px)" srcset="../static/img/bg.1.jpg")
                                img(src="../static/img/user.jpg" alt="")
                        ul.person-info
                            li
                                i.glyphicon.glyphicon-user
                                label 24岁
                            li
                                i.glyphicon.glyphicon-map-marker
                                label 浙江省绍兴市
                            li
                                i.glyphicon.glyphicon-phone
                                label 15968878254
                            li
                                i.glyphicon.glyphicon-envelope
                                label 755314203@qq.com
                        ul.skill
                            li DIV+CSS
                            li Python
                            li JavaScript
                            li Vue
                            li PHP
                        p.hobby-title 兴趣爱好
                        ul.hobby
                            li
                                i.glyphicon.glyphicon-music
                                p 篮球
                            li
                                i.glyphicon.glyphicon-music
                                p 足球
                            li
                                i.glyphicon.glyphicon-music
                                p 排球
                            li
                                i.glyphicon.glyphicon-music
                                p 羽毛球
                .col-md-9
                    .content
                        h1.name 王梦菲
                        p.target 求职目标：前端开发工程师
                        .list
                            h2
                                i.glyphicon.glyphicon-education
                                label 教育背景
                            .info
                                span 2011.6-2015.7
                                span 湖州师范学院
                                span 计算机科学与技术
                            p.block 主修课程
                            p
                                | 大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间
                                | 风口浪尖都，是恐龙分集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分
                                | 集的开始放假；收到九分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九
                                | 分裤大家思考jfk了的时间风口浪尖都是恐龙分集的开始放假；收到九分裤
                        .list
                            h2
                                i.glyphicon.glyphicon-briefcase
                                label 工作经历
                            .info
                                span 2014.6-2015.3
                                span 湖州银硕软件科技有限公司
                                span 实习生
                            p.block 项目经验
                            p
                                | 使用SQL语句(由于是银行数据，无权进行赠删改，主要是多表之间的查询)对
                                | 数据按要求进行筛选
                        .list
                            h2
                                i.glyphicon.glyphicon-list-alt
                                label 项目经验
                            .info
                                span 2015.4-2016.7
                                span 杭州车猫网络科技有限公司
                                span 前端开发工程师
                            p.block 项目经验
                            p.title 各运营活动专题
                            p.time 平均每个运营活动给予一周时间
                            p
                                | 根据设计交互给出的图进行PC和WAP页面的搭建，解决各浏览器兼容性之间
                                | 的差异，配合后端进行数据交互，并进行维护。
                            p.block 项目经验
                            p.title 首页改版
                            p.time
                            p
                                | 一期修改的时候只是改变了首页的布局以及部分样式，并将部分代码做了优化；
                                | 二期修改的时候将页面按模块拆分成各个子页面，使得往后在其他页面需要某个
                                | 模块的时候可以引入该页面，无需代码重写。
                            p.block 项目经验
                            p.title SEO优化
                            p.time 2015/10-2016/7
                            p
                                | 优化网站SEO，使其搜索排名更靠前
                                | 1.META标签优化：例如：TITLE，KEYWORDS，DESCRIPTION等的优化
                                | 2.内部链接的优化，包括相关性链接（Tag标签），锚文本链接，各导航链接，及图片链接；
                                | 3.在IMG标签上写定图片大小，提高按尺寸搜索图片时被搜索到的几率；
                                | 4.每个网页最多距离首页三次点击就能到达。
                                | 5.网站的导航系统使用文字链接。
                            p.block 项目经验
                            p.title 喵喵消费贷
                            p.time 2015/12-2016/03
                            p
                                | 根据设计交互给出的图进行PC页面以及WAP页面的搭建，解决各浏览器兼容性之间的差异，配合
                                | 后端进行数据交互，并进行维护。
                                | 在进行这么项目的同时，WAP端改用rem弹性布局，减少了对不同手机屏幕的媒体查询，大大提
                                | 高了工作效率。
                            p.block 项目经验
                            p.title 车猫合伙人体验店
                            p.time 2016/5-至今
                            p
                                | 公司改变其原有模式后，合伙人项目是其主推项目，除了在PC和WAP端增加其相关页
                                | 面，对两端的车辆列表页也做了改动及优化。
                                | 于此同时网站新增订阅功能。
                        .list
                            h2
                                i.glyphicon.glyphicon-pencil
                                label 遇到的问题及解决办法
                            .info
                                span 2013.6-2013.7
                                span 湖州师范学院
                                span 计算机科学与技术
                            p.block 页面兼容性问题
                            p
                                | PC上的兼容性主要出现在IE的不同版本上，因此一般使用CSS hack技巧来
                                | 解决，对不同版本的IE应用不同的样式，另外部分则会使用js来解决，例如text框的placeholder等。
                                | WAP上的由于手机尺寸太多，就挑选了些主流的尺寸进行媒体查询来适配其样式，后期使用了rem弹性
                                | 布局，基本解决该问题。
                            p.block gif小动画带锯齿
                            p
                                | 之前使用过页面上一些小动画用gif动态图加载，但后来发现会有锯齿存在，于是改用js移动图片来做
                                | 成小动画。
                            p.block SEO优化
                            p
                                | 目前接手的主要是内部的一些优化，包括META标签优化、内部标签的优化(a标签内容纯粹话，不包含
                                | div这些影响搜索的内容)，另外就是对全站的图片添加大小，使得百度搜索的时候能够筛选到我们网
                                | 站上的图片，再者就是在图片后面添加p1、p2等，降低图片的重复率。
                            p.block 代码优化
                            p
                                |代码的优化主要是在首页二期优化的时候以及现在正在优化三期的时候进行，二期时将重复使用的代码
                                | 单独拎至一个页面，需要时引入，三期的时候需要将其模块化。
                        .list
                            h2
                                i.glyphicon.glyphicon-pencil
                                label 自我评价
                            p.block 页面兼容性问题
                            p
                                | PC上的兼容性主要出现在IE的不同版本上，因此一般使用CSS hack技巧来
                                | 解决，对不同版本的IE应用不同的样式，另外部分则会使用js来解决，例如text框的placeholder等。
                                | WAP上的由于手机尺寸太多，就挑选了些主流的尺寸进行媒体查询来适配其样式，后期使用了rem弹性
                                | 布局，基本解决该问题。
block append js
    script(src="../static/js/about.js")