extends layout
block title
    title 个人站点
block append css
    link(rel="stylesheet" href="../static/css/personal.css")
block append body
    #content
        .container-fluid#personal-list
            .row
                template(v-for="list in lists")
                    .col-md-3.info
                        i.glyphicon.glyphicon-{{list.icon}}
                        h2 {{ list.category }}
                        p.title {{ list.title }}
                        .descmask
                            p.desc  {{ list.desc }}
                    .col-md-1
block append js
    script(src="../static/js/personal.js")