<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客列表1</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/blog.list.css">
</head>
<body>
    <div id="navbar" class="default">
        <div class="nav">
            <ul>
                <li v-for="nav in navs" v-bind:class="{ 'active':nav.url == activeNav }">
                    <a href="{{ nav.url }}">{{ nav.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="w1190">
            <div id="banner" class="fl">
                <img src="../static/img/1.jpg" alt="">
            </div>
            <div id="list">
                <h2 class="list-title">博客文章</h2>
                <ul>
                    <li v-for="list in lists">
                        <h2><a v-bind:href="list.url">{{ list.h1 }}</a></h2>
                        <span class="date">{{ list.year }}.{{ list.month }}</span>
                        <p class="desc"><a v-bind:href="list.url">{{ list.desc }}</a></p>
                        <div class="label">
                            <span>分类：<em>{{ list.category }}</em></span>
                            <span>标签：<em>{{ list.tag }}</em></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="page" class="fr">
                <span>第一页</span>
                <span>上一页</span>
                <span class="disabled">3</span>
                <span>下一页</span>
                <span>最后页</span>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/vue/vue.js"></script>
    <script src="../static/js/navData.js"></script>
    <script src="../static/js/blog.list.js"></script>
    <script>
        $(function () {
            var _height = $(window).innerHeight();
            _height = _height - 50;
            $("#main").css("height",_height+'px');
            $("#list").css("height",_height - 110 +'px');
            $("#list ul").css("height",_height - 110 - 50 +'px');
            $("#banner").css("margin-top",(_height - 400 ) / 2 + 'px');
        });
        $(function(){
            navData.activeNav = 'blog.list.html';
            new Vue({
                el: '.nav',
                data: navData
            });
            new Vue({
                el: '#list',
                data: blogListData
            });
        })
    </script>
</body>
</html>