<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/common/favicon/favicon.ico" rel="bookmark" type="image/x-icon"><!--书签-->
    <link href="/common/favicon/favicon.ico" rel="icon" type="image/x-icon"><!--图标-->
    <link href="/common/favicon/favicon.ico" rel="short icon" type="image/x-icon"><!--书签shortcut图标-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/defaut.css">
</head>
<body>
    <div id="main">
        <div id="navbar">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <img src="../static/img/logo/en.02.png" alt="">
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="defaut.html">首页1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="defaut2.html">首页2</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人简历 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">关于我1</a></li>
                                    <li><a href="about.2.html">关于我2</a></li>
                                    <li><a href="about.3.html">关于我3</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="blog.list.html">博客列表1</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="blog.list.2.html">博客列表2</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">博客列表 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.list.html">博客列表1</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="blog.list.2.html">博客列表2</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.article.info.html">博客详情页</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="introduce">
            <h1>{{ h1 }}</h1>
            <p>{{ p }}</p>
        </div>
    </div>
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/vue/vue.js"></script>
    <script>
        $(function(){
            new Vue({
                el: '.introduce',
                data: {
                    h1:'前端工程师',
                    p:'爱生活·爱技术'
                }
            });
        });
    </script>
</body>
</html>