.navbar-default{
    background: transparent;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
header #navbar li{
    margin-right: 10px;
    font-size: 18px;
}
header #navbar li a{
    color: #fff;
    position: relative;
}
header #navbar li.active a{
    color: #EEE048;
    background: transparent;
}
header #navbar li a:before{
    position: absolute;
    top: 15px;
    left: 15px;
    overflow: hidden;
    max-width: 0;
    border-bottom: 2px solid #EEE048;
    color: #EEE048;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}
@media (max-width: 767px) {
    header #navbar li a:before{
        top: 10px;
    }
}
header #navbar li a:hover::before {
    max-width: 100%;
}
