@import "common";
@import "nav";
$fontSize:  14px;
$descBgColor : #234463;
$descColor : #e3effb;
$descHobbyColor:#93a9bc;
$black : #000;
$w1190: #ebebeb;
body{
  background: $black;
  background-size: 100%;
  font-size: $fontSize;
  line-height: 20px;
  #content{
    & {
      padding: 80px 0 50px 0;
    }
    .w1190 {
      background: transparent;
      border: 1px solid $descBgColor;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
    }
    .col-md-3{
      padding: 0 0 60px 0;
      background: #234463;
      .desc{
        & {
          min-height: 500px;
          background: $descBgColor;
          color: $descColor;
          padding: 50px 0 100px 0;
        }
        .img {
          width: 130px;
          height: 180px;
          overflow: hidden;
          margin: 0 auto 50px auto;
          border: 5px solid $descColor;
        }
        img {
          width: 130px;
          height: 180px;
        }
        .person-info{
          & {
            width: 160px;
            margin: 0 0 0 20px;
          }
          li {
            line-height: 30px;
          }
          .glyphicon{
            margin-right: 5px;
          }
        }
        .skill{
          & {
            width: 100px;
            margin: 50px 0 0 20px;
          }
          li{
            border-bottom: 8px solid $descHobbyColor;
            padding-bottom: 10px;
            margin-bottom: 20px;
          }
        }
        p.hobby-title {
          color: $descHobbyColor;
          font-size: 15px;
          font-weight: bold;
          margin: 70px 0 0 20px;
        }
        .hobby{
          & {
            width: 160px;
          }
          li {
            & {
              float: left;
              width: 50%;
              text-align: center;
              margin-top: 20px;
              color: $descHobbyColor;
            }
            i {
              width: 40px;
              height: 40px;
              border: 2px solid $descHobbyColor;
              border-radius: 40px;
              line-height: 40px;
              display: block;
              margin: 0 0 20px 20px;
            }
          }
        }
      }
    }
    .col-md-9{
      padding: 0;
      .content{
        & {
          min-height: 500px;
          color: $descBgColor;
          margin: 0 40px;
        }
        h1.name {
          margin: 20px 0;
          font-weight: 900;
        }
        p.target{
          margin-bottom: 40px;
          font-weight: bold;
        }
        .list{
          &{
            margin: 20px 0;
          }
          .info{
            & {
              margin-bottom: 20px;
            }
            span{
              display: inline-block;
              color: $descBgColor;
              margin-right: 30px;
            }
          }
          h2{
            &{
              border-bottom: 2px solid $descBgColor;
              margin: 0 0 10px 50px;
              height: 50px;
            }
            i{
              font-size: 40px;
              margin: 0 0 10px -47px;
              float: left;
            }
          }
        }
      }
    }
  }
}