@import "common";
@import "nav";
.container{
  @include paddingBlock($top:50px);
  .row{
    overflow: hidden;
    @include paddingBlock(0,47px,0,47px);
    .list{
      border-left: 2px dashed #fff;
      li{
        background: rgba(0,0,0,0.3);
        border-radius: 6px;
        margin: 0 0 20px 90px;
        position: relative;
        &:hover{
          background: rgba(0,0,0,0.5);
        }
      }
      h2{
        font-size: 20px;
        @include marginBlock($bottom:20px);
      }
      .date{
        position: absolute;
        display: block;
        background: rgba(0,0,0,1);
        color: #fff;
        left: -125px;
        top: 30px;
        @include paddingBlock(5px,0,0,7px);
        border-radius: 3px;
        em{
          display: block;
          font-size: 20px;
          line-height: 20px;
          @include paddingBlock(4px,5px,3px,10px);
          font-weight: bold;
        }
      }
      .triangle{
        @include absoluteBlock($top:37px)
      }
      .triangle-left{
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }
      .triangle02{
        border-right: 40px solid rgba(0,0,0,0.3);
        left: -40px;
      }
      .info{
        overflow: hidden;
      }
      .cover-img{
        width: 300px;
        height: 200px;
        overflow: hidden;
        border:1px solid rgba(255,255,255,0.3);
        border-radius: 20px;
      }
      .desc{
        width: 300px;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        @include marginBlock($left:20px);
      }
      .tags{
        background: rgba(0,0,0,0.5);
      }
    }
  }
}