@import "common";
@import "nav";
html{
  background: #fff url("../img/2.jpg") no-repeat;
  width: 100%;
  height: 100%;
  background-attachment:fixed;
  background-size: 100% 100%;
}
.content{
  &{
    width: 80%;
    border-radius: 12px;
    padding: 30px;
    background: rgba(255,255,255,0.6);
    @include marginBlock(100px,auto,50px,auto);
  }
  h1{
    text-align: center;
  }
  .tags{
    text-align: center;
    @include marginBlock(20px,auto,20px,auto);
    span{
      @include marginBlock($right:20px);
      i{
        @include marginBlock($right:10px);
      }
    }
  }
  .info{
    p{
      text-indent: 2em;
      font-size: 15px;
      line-height: 30px;
    }
    img{
      width: 100%;
      border-radius: 6px;
      display: block;
      @include marginBlock(20px,auto,20px,auto);
    }
  }
}