//html背景
@mixin htmlBg($url) {
  background: #fff url($url) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
@mixin fixedBg($url){
  @include htmlBg($url);
  background-attachment:fixed;
}

// triangle
@mixin triangle($direction, $size, $borderColor ) {
  content:"";
  height: 0;
  width: 0;

  @if $direction == top {
    border-bottom:$size solid $borderColor;
    border-left:$size dashed transparent;
    border-right:$size dashed transparent;
  }
  @else if $direction == right {
    border-left:$size solid $borderColor;
    border-top:$size dashed transparent;
    border-bottom:$size dashed transparent;
  }
  @else if $direction == bottom {
    border-top:$size solid $borderColor;
    border-left:$size dashed transparent;
    border-right:$size dashed transparent;
  }
  @else if $direction == left {
    border-right:$size solid $borderColor;
    border-top:$size dashed transparent;
    border-bottom:$size dashed transparent;
  }
}
//滚动条样式
@mixin scroll-style(){
  &::-webkit-scrollbar {
    width: 5px;
  } /* 这是针对缺省样式 (必须的) */
  &::-webkit-scrollbar-track {
    background-color: #000;
  } /* 滚动条的滑轨背景颜色 */

  &::-webkit-scrollbar-thumb {
    background-color: lightblue;
  } /* 滑块颜色 */

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    background-color: #000;
  } /* 滑轨两头的监听按钮颜色 */

  &::-webkit-scrollbar-corner {
    background-color: black;
  } /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
}
//是否支持某个浏览器的前缀，如果你不想支持，可以设置为false
$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default; // 标准版
// prefixer
@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {

    @if $prefix == webkit and $prefix-for-webkit == true {
      -webkit-#{$property}: $value;
    }
    @else if $prefix == moz and $prefix-for-mozilla == true {
      -moz-#{$property}: $value;
    }
    @else if $prefix == ms and $prefix-for-microsoft == true {
      -ms-#{$property}: $value;
    }
    @else if $prefix == o and $prefix-for-opera == true {
      -o-#{$property}: $value;
    }
    @else if $prefix == spec and $prefix-for-spec == true {
      #{$property}: $value;
    }
    @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}
//webki和标准
//不指定有多少个参数
@mixin box-shadow($shadow...) {
  @include prefixer(box-shadow, $shadow, webkit spec);
}
//webkit moz 和标准
@mixin box-sizing($type:border-box) {
  // border-box | padding-box | content-box
  @include prefixer(box-sizing, $type, webkit moz spec);
}
//webkit moz o 和标准
@mixin transform($property...) {
  @include prefixer(transform, $property, webkit moz o spec);
}
@mixin transition($property...) {
  @include prefixer(transition, $property, webkit moz o spec);
}
@mixin animation($property...) {
  @include prefixer(animation, $property, webkit moz o spec);
}
//定义animation的keyframes
@mixin keyframes($name){
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

//%是占位符
$lte7:true;
%clearfix {
  @if $lte7 {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}
.wrap{
  @extend %clearfix;
}

//定义media-queries的最小最大宽度
@mixin screen($res-min, $res-max){
  @media screen and ( min-width: $res-min ) and ( max-width: $res-max ){
    @content;
  }
}

//自定义@function
//960网格布局
/*$_columns: 12 !default;      // 总列数
$_column-width: 60px !default;   // 单列宽
$_gutter: 20px !default;     // 间隔

@function get_width($columns:$_columns, $onlyInnerWidth: true, $_subtract:0){
  // 默认返回值
  $return: ($_column-width + $_gutter) * $columns - $_subtract !default;

  @if $onlyInnerWidth == true{
    //如果$onlyInnerWidth为true，那么减掉一个间隔$_gutter
    $return: ($_column-width + $_gutter) * $columns - $_gutter - $_subtract;
  }

  @return $return;
}
//调用
#container{
  width:get_width(12,false);//960px
}
.col-four{
  @extend %clearfix;
  .col{
    float: left;
    margin:0 $_gutter / 2;
    width:get_width(3); //220px

    h2{
      padding-left:10px;
      width:get_width(3,true,10px); //210px
    }
  }
}*/
