$navActiveColor: #EEE048;
header{
  & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 10;
    border-bottom: 1px solid #ddd;
  }
  .navbar-default{
    background: transparent;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
  }
  #navbar {
    li{
      margin-right: 10px;
      font-size: 18px;
      a{
        color: #fff;
        position: relative;
        &:before{
          position: absolute;
          top: 15px;
          left: 15px;
          overflow: hidden;
          max-width: 0;
          border-bottom: 2px solid $navActiveColor;
          color: $navActiveColor;
          content: attr(data-hover);
          -webkit-transition: max-width 0.5s;
          -moz-transition: max-width 0.5s;
          transition: max-width 0.5s;
        }
      }
      &.active{
        a{
          color: $navActiveColor;
          background: transparent;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header #navbar li a:before{
    top: 10px;
  }
}
header #navbar li a:hover::before {
  max-width: 100%;
}
