@import "common";
@import "nav";
#content{
  &{
    width: 60%;
    margin: 0 auto;
    @include marginBlock(0,auto,0,auto);
    @include paddingBlock($bottom:50px);
  }
  #personal-list{
    &{
      color: #fff;
      position: relative;
      @include paddingBlock($bottom:50px);
    }
    .info {
      &{
        text-align: center;
        outline: 1px solid #fff;
        height: 200px;
        background: rgba(0,0,0,0.3);
        color: #50332b;
        position: relative;
        @include marginBlock($bottom:30px);
      }
      i{
        font-size: 40px;
        @include marginBlock($top:39px,$bottom:10px);
      }
      h2{
        font-size: 43px;
      }
      .descmask{
        @include absoluteBlock();
        opacity: 0;
        width: 100%;
        height: 100%;
        background: $navActiveColor;
        @include paddingBlock(5%,5%,5%,5%);
        transition: opacity 1s;
        -moz-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        .desc{
          color:  darken(cadetblue,10%);
          font-size: 15px;
          text-align: left;
          text-indent: 2em;
          line-height: 25px;
        }
      }
      p.title{
          font-size: 25px;
      }
      &:hover{
        color: #fff;
        background: $navActiveColor;
        .descmask {
          opacity:1;
        }
      }
    }
  }
}