
#content{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
}
#personal-list{
  color: #fff;
  position: relative;
  padding-bottom: 50px;
  height: 1000px;
}
#personal-list li{
  text-align: center;
  outline: 1px solid #fff;
  width: 25%;
  height: 200px;
  background: rgba(0,0,0,0.3);
  float: left;
  color: #50332b;
  position: relative;
  margin-bottom: 30px;
}
#personal-list li i{
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 10px;
}
#personal-list li h2{
  font-size: 20px;
}
#personal-list li p{
  font-size: 16px;
}
#personal-list li:hover{
  color: #fff;
  background: #fccc5d;
}
/*
#personal-list>li{
    position: absolute;
    display: inline-block;
    width: 40%;
    margin-left: 7%;
    min-height: 200px;
    background: rgba(255,255,255,0.1);
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
}
#personal-list>li:nth-child(1){
    top: 50px;

}
#personal-list>li:nth-child(2){
    right: 7%;
    top: 50px;
}
#personal-list>li:nth-child(3){
    top: 650px;
}
#personal-list>li:nth-child(4){
    right: 7%;
    top: 350px;
}
#personal-list li .category{
    padding: 20px;
    line-height: 50px;
}
#personal-list li .category h1{
    color: #fff;
}
#personal-list li .list{
    width: 70%;
    padding-right: 100px;
}
.list .tag-lists{
    padding-top: 30px;
}
.list .tag-lists .info{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.list .tag-lists h2{
    line-height: 30px;
}
.list .tag-lists h2 a{
    font-size: 28px;
    line-height: 30px;
    color: white;
}
.list .tag-lists .time-tag{
    margin: 10px 0 20px 0;
}
.list .tag-lists .time-tag span{
    display: inline-block;
    margin-right: 15px;
    color: yellow;
}
.list .tag-lists .time-tag span em{
    color: crimson;
}
.list .tag-lists .desc{
    text-indent: 2em;
    font-size: 14px;
    line-height: 20px;
}*/
